/*index start*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

main {
  background: url(../images/unedited.png);
  background-size: cover;
  flex: 1;
}

.browse,
.ul-nav {
  text-align: center;
  list-style-type: none;
  display: flex;
  font-size: larger;
  background-color: #0a3641;
  flex-direction: column;
}

a {
  list-style: none;
  color: white;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  margin-left: 2vh;
  margin-top: 0vh;
}

.product-search {
  padding-top: 0px;
}

.navsearch {
  max-height: 24px;
  padding: 1px;
  border-radius: 1px;
}

.right-side-nav {
  display: flex;
  margin-left: 20vw;
  margin-right: 0vw;
  text-transform: capitalize;
  display: none;
}

@media screen and (min-width: 601px) {
  .index-h1 {
    font-size: 100px;
    margin-top: 300px;
  }
}

@media screen and (max-width: 600px) {
  .index-h1 {
    font-size: 50px;
    margin-top: 30px;
  }
}

.index-h1 {
  font-family: "Bebas Kai", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  padding: 100px;
  background: rgba(0, 0, 0, 0.5);
}

.background_img {
  background-image: url(/images/unedited.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.newsletter {
  margin-top: 0;
  font-weight: bold;
  font-size: larger;
  color: #fff;
  margin-left: 40%;
}

.tos {
  font-size: small;
  font-weight: bold;
  color: white;
  text-align: right;
  padding-right: 10px;
}

.botbar {
  width: 100%;
  height: 165px;
  background-color: #0a3641;
}

.index-links {
  list-style: none;
  font-weight: bold;
  color: #fff;
  padding: 8px;
  margin-left: -50px;
}

footer {
  position: fixed;
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  bottom: 0;
  width: 100%;
  height: 10px;
}

/* ---------- browse ---------- */

.browse-h1,
.browse-h2 {
  padding-top: 1%;
  padding-left: 1%;
  color: #0a3641;
  max-width: 20%;
}

.browse-h2 {
  font-size: medium;
}

.browse-container,
.product-price-browse {
  display: flex;
  padding-left: 10%;
  gap: 15%;
  flex-wrap: wrap;
  font-weight: bold;
}

/* ---------- product-specific ---------- */

@media screen and (min-width: 601px) {
  .red-jacket,
  .jacket-name {
    margin-left: 46%;
  }
}

.red-jacket {
  margin-top: 3%;
}

.intro-price {
  margin-top: -18%;
  font-weight: bolder;
  font-size: large;
  color: #b40000;
  font-style: italic;
}

.jacket-name {
  width: 240px;
  height: 40px;
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  background-color: black;
}

.product-price {
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .product-desc {
    font-size: 16px;
  }
}

.product-desc {
  max-width: 70%;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 1%;
}

/* ---------- checkout ---------- */

.form-header {
  margin-top: 2%;
  margin-bottom: 1%;
  font-style: normal;
  font-size: large;
}

.input-details {
  text-align: center;
  padding-right: 25%;
}

.checkout-label {
  font-weight: bold;
  margin-right: 100px;
}

@media screen and (min-width: 601px) {
  .fieldset,
  .submit-checkout {
    font-size: 20px;
    margin-left: 1200px;
  }
}

.information-form__input,
.card-form__input {
  display: block;
  margin: 2px;
  margin-left: 20%;
  border-radius: 1px;
  text-align: left;
  padding-right: 20%;
}

.legend-header {
  margin-left: 0%;
  max-width: fit-content;
  font-weight: bold;
}

.submit-checkout {
  width: 30%;
  color: #fff;
  font-size: larger;
  font-weight: bold;
  background-color: #0a3641;
}

/* ---------- story ---------- */

.story-nav {
  background-color: #0a3641;
}

.story-logo {
  margin-left: 100px;
}

.story-container {
  text-align: center;
  color: black;
}

@media screen and (min-width: 601px) {
  .story-header {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .story-header {
    font-size: 25px;
  }
}

.story-header {
  position: absolute;
  margin-top: 90px;
  top: 2.5%;
  padding-left: 32%;
  text-decoration: underline 4px;
}

@media screen and (min-width: 601px) {
  .story {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .story {
    font-size: 16px;
  }
}

.story {
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 20%;
  left: 15%;
  max-width: 70%;
  color: black;
}

.story-bg {
  background-image: url(../images/story-bg.jpg);
  width: 100vw;
  height: 100vh;
  background: cover;
}

/* ---------- success ---------- */
.centered {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 12%;
  border-style: solid;
  height: 75vh;
  width: 150vh;
  background-color: #f0f2f3;
}

.checkout {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  font-size: larger;
}

.summary {
  position: relative;
  margin-top: 10%;
  margin-left: 15%;
  font-size: larger;
  font-weight: bold;
}

.summary-product {
  margin-top: 0%;
  margin-left: 15%;
  font-weight: 600;
}

.summary-price {
  margin-top: -2%;
  margin-left: 40%;
  font-weight: 600;
}

.shipping {
  position: relative;
  margin-top: -19%;
  margin-left: 70%;
  font-size: larger;
  font-weight: bold;
}

.shipping-details {
  text-align: right;
  padding-right: 19%;
  font-size: large;
  font-weight: 550;
}

.billing {
  position: relative;
  margin-top: 10%;
  margin-left: 70%;
  font-size: larger;
  font-weight: bold;
}

.billing-details {
  text-align: center;
  padding-left: 50%;
  font-size: large;
  font-weight: 550;
}

.print,
.get-in-touch,
.continue-shopping {
  border-radius: 0;
  background-color: #0a3641;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}

.print {
  position: absolute;
  margin-top: -10%;
  margin-left: 42%;
}

.get-in-touch {
  position: absolute;
  margin-top: -10%;
  margin-left: 27%;
}

.continue-shopping {
  position: absolute;
  margin-top: -10%;
  margin-left: 12%;
}

/* ---------- contact ---------- */

.contact-form {
  align-self: left;
}

.contact__input,
.contact-label,
textarea {
  display: block;
  text-align: left;
  margin-left: 25%;
  padding-top: 1%;
}

.h1-contact {
  margin-left: 42%;
  font-style: italic;
  color: #0a3641;
  padding-top: 20px;
}

.contact-label {
  font-weight: bold;
}

.contact__input,
textarea {
  border: 2.5px solid #0a3641;
  width: 400px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #0a3641;
}

.contact-info {
  text-align: center;
  font-size: xx-large;
  margin-top: 10%;
  max-width: fit-content;
  min-width: fit-content;
}

.contact-phone {
  font-size: x-large;

  font-weight: bold;
  max-width: 175px;
}

.contact-address {
  margin-top: 20px;
  font-size: x-large;
  font-weight: bold;
  max-width: 175px;
}
